@model WebApp.Models.Edit.IssueEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Issue</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(y => y.Issue.Id)
        @Html.HiddenFor(y => y.Issue.Type)
        @Html.HiddenFor(y => y.Issue.DateFiled)
        @Html.HiddenFor(y => y.Issue.ProjectName)
        @Html.HiddenFor(y => y.Issue.OwnerId)
        @Html.HiddenFor(y => y.Issue.OwnerEmail)

        <div class="form-group">
            @Html.LabelFor(y => y.Issue.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(y => y.Issue.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(y => y.Issue.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(y => y.Issue.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(y => y.Issue.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(y => y.Issue.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(y => y.Issue.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(y => y.Issue.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(y => y.Issue.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Issue List", "Issues")
</div>
